


.modalActive {
 animation: show .4s ease-in-out forwards ;
}

.modalExit {
 animation: show .4s reverse ease-in-out forwards;
}


@keyframes show {
0%{
 scale: 0;
 opacity: 0;
}
 100%{
  scale: 1;
  opacity: 1;
 }
}