.myAnimOpen {
  animation: open 0.3s ease-out reverse;
}

.myAnimClose {
  animation: open 0.3s ease-out reverse;
}

@keyframes open {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
